@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../fonts/PF-Din-Text-Comp-Pro/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/PF-Din-Text-Comp-Pro/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF-Din-Text-Comp-Pro/pfdintextcomppro-regular-webfont.woff2') format('woff2'),
         url('../fonts/PF-Din-Text-Comp-Pro/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('../fonts/PF-Din-Text-Comp-Pro/pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_comp_prothin';
    src: url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.eot');
    src: url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flowregular';
    src: url('../fonts/Flow/flow_regular-webfont.eot');
    src: url('../fonts/Flow/flow_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flow/flow_regular-webfont.woff2') format('woff2'),
         url('../fonts/Flow/flow_regular-webfont.woff') format('woff'),
         url('../fonts/Flow/flow_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
	height: 100%;
}
body {
	max-height: 4340px;
	background-color: #ffffff;
}
.clear:after{
	content: "";
	clear: both;
	display: block;
}

#flag-uk{
	margin-top: 209px;
	position: fixed;
	z-index: 1;
}
.wrap{
	margin: 0 auto;
	width: 970px;
}
.wraper{
	color: #959595;
	font-size: 18px;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	margin: 0 auto;
	width: 970px;
}
.contacts{
	width: 615px;
	float: left;
}
.number{
	float: left;
	position: relative;
    margin-top: 24px;
}
.number:before{
	content: "";
	background: url('../images/tel.png');
	width: 23px;
	height: 32px;
	display: block;
	position: absolute;
	margin: 0 -28px;
	left: 0;
	top: -15px;
}
.email{
	width: 197px;
	float: left;
	position: relative;
	margin-top: 10px;
}
.email:before{
	content: "";
	background: url('../images/message.png');
	width: 33px;
	height: 14px;
	display: block;
	position: absolute;
	margin: 0 -38px;
	left: 0;
	top: 0;
}
.form1{
	margin-top: 20px;
	float: left;
}
#search-text{
	width: 189px;
    background-color: #ffffff;
    outline: none;
    border: none;
    padding-left: 8px;
    border-bottom: 1px solid #65baaf;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	color: #959595;
	font-size: 18px;
	float: left;
}
.search-sub{
	display: block;
	background: url('../images/search.png');
	width: 34px;
	height: 33px;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
.menu-lenguage{
	margin-top: 24px;
	float: right;
	font-size: 14px;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
}
.menu-lenguage li{
	display: inline-block;
	position: relative;
	padding: 0 7px;
}
.menu-lenguage li a{
	text-align: center;
	display: block;
	text-decoration: none;
	color: #959595;
}
.active-lenguage a{
	color: #ffffff ;
}
.active-lenguage:before{
	content: "";
	background: url('../images/flag.png');
	display: block;
	position: absolute;
	width: 32px;
	height: 52px;
	margin-top: -27px;
	left: 0;
	top: 0;
	z-index: -1;
}
.menu-main{
	text-align: center;
	margin: 0 auto;
	width: 970px;
}
.menu-main li{
	margin: 36px 0 16px 0;
	float: left;
	position: relative;
}
.menu-main li a{
	color: #000000;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	text-align: center;
	text-decoration: none;
	padding: 0 8px;
}
.menu-main li+li+li+li+li{
	left: 250px;
}
.circul{
	width: 197px;
	height: 182px;
	border-radius: 50%;
	position: absolute;
	margin: -85px 366px;
	background-color: #ffffff;
	z-index: 1;
}
#logo{
	width: 144px;
	height: 141px;
	position: absolute;
	margin: 28px 27px;
}
.back{
	background: url('../images/ppsop-7357-large.png');
	display: block;
	width: 100%;
	height: 593px;
	background-size: cover;
}
.back:before{
	content: "";
	height: 593px;
	background: black;
	display: block;
	color: #ffffff;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0.4;
}
.text-on-back{
	text-align: center;
	margin: 0 auto;
	color: white;
	width: 970px;
}
.text-on-back h2{
	font-size: 20px;
	letter-spacing: 0.43px;
	position: absolute;
	margin: -534px 419px;
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	width: 95px;
}
.text-on-back h1{
	font-size: 72px;
	letter-spacing: 1.22px;
	position: absolute;
	width: 631px;
	margin: -432px 180px;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
}
.text-on-back p{
	font-family: 'flowregular', cursive;
	font-size: 32px;
	line-height: 35.94px;
	width: 830px;
	position: absolute;
	margin: -317px 53px;
}
.indicatos-panel{
	width: 176px;
	position: absolute;
	margin-left: -88px;
	margin-top: -76px;
	left: 50%;
	cursor: pointer;
}
.indicatos-panel li{
	margin: 0 auto;
	display: inline-block;
	cursor: pointer;
	margin-right: 13px;
	position: relative;
}
.indicatos-panel .active{
	top: 6px;
}
.wraper2{
	margin: 0 auto;
	width: 970px;
	padding-top: 35px;
}
.bicycle{
	float: left;
	margin-left: -60px;
}
.girl{
	float: right;
}
.central-text{
	float: left;
	margin-left: 33px;
}
.text{
	width: 403px;
	height: 73px;
	color: #959595;
	text-align: center;
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
}
.charivna{
	float: left;
	padding: 50px 100px;
}
.charivna:before{
	content: "";
	background: url('../images/uzor.png');
	display: block;
	width: 449px;
	height: 104px;
	position: absolute;
	margin: 0px -127px;
}
.circul2{
	width: 91px;
	height: 91px;
	background-color: white;
	border-radius: 50%;
	margin: -62px auto auto;
	position: relative;
	z-index: 1;
}
.circul2:before{
	content: "";
	background: url('../images/biscuit.png');
	display: block;
	margin: 20px;
	position: absolute; 
	z-index: 2; 
	width: 44px;
	height: 43px;
}
.produkciya{
	width: 218px;
	height: 37px;
	color: #65baaf;
	font-family: 'flowregular';
	font-size: 40px;
	font-weight: 700;
	margin: 0px auto;
}
.line{
	width: 100%;
	height: 1px;
	background-color: #7d7d7d;
	opacity: 0.39;
	position: absolute;
	margin: -20px auto;
	z-index: -1;
}
.brown-spoted-bookmark{
	margin: -53px 240px;
	position: absolute;
	z-index: -1;
}
.little-bookmark{
	margin: 0 533px;
	position: absolute;
	z-index: -1;
}
.over-book{
	text-align: center;
	margin: 57px 45px;
}
.over-book li{
	float: left;
	position: relative;
	margin: 1px 34px;
}
.over-book li:first-child{
	bottom: 8px;
}
.over-book li:last-child{
	right: 30px;
}
.over-book li a{
	width: 137px;
	height: 15px;
	color: #ffffff;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	font-size: 17px;
	text-decoration: none;
	padding-left: 6px;
}
.over-book li+li a{
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 20px;
}
.blue-bookmark:before{
	content: "";
	width: 181px;
	height: 245px;
	background: url('../images/blue-bookmark.png');
	position: absolute;
	margin: -18px -22px;
	z-index: -1;
}
.bookmark-home:before{
	content: "";
	width: 147px;
	height: 49px;
	background: url('../images/bookmark-home.png');
	position: absolute;
	margin: -11px -37px;
	z-index: -2;
}
.bookmark-private:before{
	content: "";
	width: 155px;
	height: 42px;
	background: url('../images/bookmark-private.png');
	position: absolute;
	margin: -13px -30px;
	z-index: -2;
}
.cookes{
	margin: 54px 122px;
	position: absolute;
}
.book{
	background: url('../images/book.png');
	width: 744px;
	height: 427px;
	float: left;
	margin-left: -60px;
}
.info{
	opacity: 0.7;
	color: #8f5926;
	
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	display: block;
	position: absolute;
	margin: 340px 205px;
}
.book h1{
	width: 105px;
	color: #caa977;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 54px 474px;
}
.book h1:after{
	content: "";
	width: 45px;
	height: 8px;
	background: url('../images/wave.png');
	position: absolute;
	margin: 61px -76px;
}
.book p{
	width: 214px;
	color: #7d7d7d;
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 20px;
	position: relative;
	text-align: center;
	margin: 0 422px;
}
.book p+p{
	margin-top: 19px;
}
.ar-back{
	color: #caa977;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	display: block;
	position: absolute;
	margin: 80px 452px;
}
.ar-back:after{
	content: "";
	width: 32px;
	height: 31px;
	background: url('../images/left.png');
	position: absolute;
	margin: -8px 10px;
}
.ar-ahead{
	color: #65baaf;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	display: block;
	position: absolute;
	margin: 80px 575px;
}
.ar-ahead:before{
	content: "";
	width: 32px;
	height: 31px;
	background: url('../images/right.png');
	position: absolute;
	margin: -8px -38px;
}
.biscuit-slider{
	float: left;
	text-align: center;
}
.arrow-left{
	background: url('../images/arrow-left.png');
	margin: 240px 30px;
	width: 17px;
	height: 13px;
	float: left;
}
.pech{
	position: relative;
	margin: 0 auto;
	float: left;
	height: 165px;
}
#new{
	margin: -18px auto;
	float: right;
}
#star{
	margin: 18px auto;
	float: right;
}
#shadow{
	margin: 0 auto;
	float: left;
}
.biscuit-slider p{
	color: #65baaf;
	font-size: 24px;
	font-weight: 500;
	line-height: 29.88px;
}
.biscuit-slider p+p{
	color: #7d7d7d;
	font-size: 18px;
	font-weight: 400;
}
.arrow-right{
	background: url('../images/arrow-right.png');
	margin: 240px 0;
	width: 17px;
	height: 13px;
	float: right;
}
.wraper4{
	width: 100%;
	height: 405px;
	background-color: rgba(178, 220, 215, 0.26);
}
.circul3{
	width: 73px;
	height: 73px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	margin: -37px 445px;
}
.circul3:before{
	content: "";
	width: 44px;
	height: 47px;
	background: url('../images/cherry.png');
	position: absolute;
	margin: 5px 20px;
}
.our{
	width: 409px;
	color: #65baaf;
	font-family: 'flowregular';
	font-size: 40px;
	font-weight: 700;
	margin: 0 auto;
	padding: 62px 0 53px 0;
	text-align: center;
}
.our2{
	padding: 40px;
}
.our3{
	padding: 83px 0 65px 0;
}
.cookies-advantages{
	font-weight: 400;
	width: 970px;
	margin: 0 auto;
}
.cookies-advantages a{
	text-decoration: none;
	color: #915b27;
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 20px;
}
.hat{
	text-align: center;
	width: 130px;
	float: left;
	margin: 0 65px;
}
.pointer{
	text-align: center;
	width: 85px;
	float: left;
	    margin: 0 40px;
}
.heart{
	text-align: center;
	width: 244px;
	float: left;
	    margin: 0 40px;
}
.mug{
	text-align: center;
	width: 119px;
	float: left;
	    margin: 0 40px;
}

.hat:after{
	content: "";
	width: 118px;
	height: 118px;
	background: url('../images/cookie-advantages.png');
	position: absolute;
	margin: -175px -60px;
}	

.pointer:after{
	content: "";
	width: 118px;
	height: 118px;
	background: url('../images/cookie-advantages.png');
	position: absolute;
	margin: -175px -60px;
}

.heart:after{
	content: "";
	width: 118px;
	height: 118px;
	background: url('../images/cookie-advantages.png');
	position: absolute;
	margin: -175px -60px;
}

.mug:after{
	content: "";
	width: 118px;
	height: 118px;
	background: url('../images/cookie-advantages.png');
	position: absolute;
	margin: -175px -60px;
}
.c-a-img{
	margin: 40px auto;
	z-index: 1;
	position: relative;;
}
.glass{
	position: absolute;
	margin: -155px 0;
	z-index: -1;
}
.plate{
	position: absolute;
	margin-top: 335px;
	right: 0;
	z-index: -1;
}
.dough{
	position: absolute;
	margin-top: 570px;
	right: 0;
	z-index: -1;
}
.line-with-cap{
	width: 206px;
	height: 21px;
	background: url('../images/cup.png');
	margin: 0 auto;
}
.text1{
	width: 598px;
	color: #7d7d7d;
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin: 43px auto;
	text-align: center;
}
.border{
	width: 587px;
	height: 407px;
	margin: 0 195px;
	margin-bottom: 75px;
	z-index: -1;
}
.video{
	position: absolute;
	margin: -460px 238px;
}
.line1{
	margin: 5px auto;
}
.circul4{
	width: 73px;
	height: 73px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	margin: -37px 445px;
}
.circul4:before{
	content: "";
	width: 44px;
	height: 47px;
	background: url('../images/candy.png');
	position: absolute;
	margin: 17px;
}
.wraper-news{
	float: left;
}
.block-new{
	margin-right: 93px;
}
.text1-news{
	color: #caa977;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	font-size: 22px;
	float: left;   
	margin-left: 17px;
	padding-top: 3px;
}
.text1-news h1{
	text-transform: uppercase;
}
.text1-news p{
	width: 248px;
	color: #7d7d7d;
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 12px;
}
.text2-news{
	float: left;
}
.text2-news p{
	width: 314px;
}
.read{
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	margin: 57px auto;
	width: 107px;
    height: 15px;
	border: 1px solid #b1b1b1;
	color: #7d7d7d;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
	text-align: center;
	border-radius: 20px;
}
.footer-follow{
	margin: 6px auto;
	padding: 9px 5px;
}
.my-form{
	width: 343px;
	height: 471px;
	background-color: #67bbaf;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	color: #ffffff;
	font-size: 42px;
	padding: 19px;
	position: absolute;
	margin: -511px 0;
}
input[type="e-mail"]::placeholder{
	color: #b1b1b1;
}
::placeholder{
	color: #ffffff;
}
.my-form h1{
	margin: 14px 100px;
}
.my-form textarea{
	height: 109px;
	width: 304px;
	border: 1px solid #ffffff;
	background-color: rgb(136, 203, 193);
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 20px;
	padding: 13px 17px;
    margin: 4px;
}
.fild{
	width: 310px;
	height: 47px;
	border: 1px solid #ffffff;
	background-color: rgb(136, 203, 193);
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 20px;
	padding: 0 14px;
	margin: 4px;
	color: #ffffff;
}
.send{
	width: 144px;
    height: 45px;
    padding: 9px;
	cursor: pointer;
	color: #ffffff;
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	background-color: transparent;
	margin: 18px 105px;
	border-radius: 20px;
}
.futer{
	margin-top: 57px;
}
.col{
	float: left;
	color: #7d7d7d;
	font-family: 'pf_din_text_comp_prothin', sans-serif;
	font-size: 20px;
}
.col li{
	padding: 0 0 14px 0;
}
.col li a{
	text-decoration: none;
	color: #7d7d7d;
}
.col1{
	margin: 0 0 50px 51px;
}
.col2 h1{
	color: #c8a674;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	font-size: 22px;
	float: left;
}
.col2{
	margin: 0 0 38px 136px;
}
.place{
	margin-top: 10px;
	line-height: 26px;
}
.number2{
	margin: 16px 0;
	line-height: 24px;
}
.place:before{
	content: "";
	background: url('../images/point.png');
	width: 20px;
	height: 32px;
	display: block;
	position: absolute;
	margin: 9px -36px;
}
.number2:before{
	content: "";
	background: url('../images/tel.png');
	width: 23px;
	height: 32px;
	display: block;
	position: absolute;
	margin: 5px -36px;
}
.footer-email:before{
	margin: 3px -48px;
}
.col3{
	float: right;
	margin: -6px 32px;
}
.bord-last{
	width: 324px;
	position: absolute;
	margin: -186px -35px;
	z-index: -1;
}
.col3 h2{
	color: #67bbaf;
	font-size: 20px;
	font-family: 'pf_din_text_comp_proregular', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-top: 34px;
}
.f1{
	width: 215px;
	text-align: center;
	border-bottom: 1px solid #b1b1b1;
	margin: 20px auto;
	background-color: transparent;
	color: #b1b1b1;
	height: 35px;
}
.col4{
	font-size: 16px;
	margin: 0 0 25px 0;
}
.col4 p{
	margin-top: 10px;
}
.vk{
	float: right;
	margin: 10px 42px;
}
.vk:after{
	content: "";
	width: 49px;
	height: 48px;
	background: url('../images/last-pech.png');
	position: absolute;
	margin: -15px -35px;
	z-index: -1;
}
.f{
	float: right;
	margin: 6px 16px 0 0;
}
.f:after{
	content: "";
	width: 49px;
	height: 48px;
	background: url('../images/last-pech.png');
	position: absolute;
	margin: -11px -27px;
	z-index: -1;
}